/* css pour header */
.navbar .navbar-brand-wrapper{
  background: #e9eaec;
}

.navbar {
  border-bottom: 4px solid #0057ac;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img {
  max-width: 100%;
  height: auto;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler {
  color: #0057ac;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
  width: 100%;
}
select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint
 {
    outline: 1px solid #9DABB9;
    color: #37424D;
}

.form-control{
  outline: 1px solid #9DABB9;
  color: #37424D;
}

.btn {
   border-radius: 8px;
}

.btn-pri.btn-primary.disabled, .btn-primary:disabled
 {
    color: #fff;
    background-color: #00407F;
    border-color: #00407F;
}

.sidebar {
    height: 100%;
  }

.form-check-input{
  padding: 0.75rem!important;
}

.form-check-label{
  margin-left: 2.75rem!important;
  padding-top: 0.5rem!important;
}

.nav-link{
  color: #00407F!important;
}

.nav-tabs{
  background: #E7EBEE;
}
.btn-primary, .bg-primary{
    background-color: #00407F!important;
    border-color: #00407F!important;
}

.btn-success{
    background-color: #246405;
    border-color: #246405;
}
