.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.4;
  color: #fff;
  background: #000 url("src/assets/images/accueil.jpg") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.jumbotron h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #393b44;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 34px;
  margin-top: -60px;
}

.jumbotron {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.text-color {
  color: white;
}

.pt {
  padding-top: 75px;
}

.logo {
  width: 150px;
  height: 150px;
}

.data {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
}

a.action_link {
  text-decoration: none;
}

.resimg {
  float: left;
  margin-right: 15px;
}

.horizontal-center-row {
  display: flex;
  justify-content: center;
}

.rating {
  float: right;
  margin-right: 15px;
}
.text-warning-2{
  color:#e7c14f;
}
.home-link{
  cursor: grab;
  border: 1px solid rgba(196, 194, 194, 0.5);
  background: linear-gradient(to right, rgba(196, 194, 194, 0.10) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .75s ease-out;
}

.home-link:hover{
  background-position: left bottom;
}
