/* dialog.component.css */
.modal.show {
  display: block !important;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-content {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
  border-bottom: none;
  padding: 1.5rem;
}

.modal-body {
  padding: 1.5rem;
  font-size: 1rem;
}

.modal-footer {
  border-top: none;
  padding: 1rem 1.5rem 1.5rem;
}

.modal-title {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.modal-title i {
  font-size: 1.25rem;
}